html {
	width: 100vw;
	height: 100vh !important;
}

body {
	margin: 0 !important;
	height: inherit;
}

.uebung-body {
	margin: 50px !important;
}

img {
	max-width: 80%;
}

table {
	margin: 0 !important;
}

/* UEBUNG 1 */
.img-wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.img-text {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.img-rounded {
	border-radius: 25px;
}

.audio-wrapper {
	display: flex;
	justify-content: space-around;
}

.audio-text-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#sinus-kurve-img {
	width: 50%;
}

.u1-list-wrapper {
	display: flex;
	justify-content: space-between;
}

/**/
#Kontakt {
	position: absolute;
	top: 4em;
	left: 2em;
	margin-left: 0em;
	font: normal 120% Berlin Sans FB;
	color: #000000;
}

#Links {
	position: absolute;
	top: 1em;
	left: 3em;
}

#Linie_H1 {
	position: absolute;
	top: 0em;
	left: 1em;
}

#Linie_H2 {
	position: absolute;
	top: 28em;
	left: 1em;
}

#Inhalt_1 {
	height: inherit;
	position: relative;
	margin-top: 0em;
	margin-left: 0em;
	background-color: #ffffff;
}

#Inhalt_2 {
	position: relative;
	background-color: #7a501b;
}

#Navigation {
	width: 150px;
	padding: 20px 5px;
	background-color: #565656;
	height: 100vh;
	/* position: absolute; */
	font: normal 60% Berlin Sans FB;
}
#Navigation a {
	margin-left: 15px;
}
#Navigation a:link {
	font: normal 100% Berlin Sans FB;
	color: #ffffff;
}
#Navigation a:visited {
	font: normal 100% Berlin Sans FB;
	color: #969696;
}
#Navigation a:hover {
	font: normal 100% Berlin Sans FB;
	color: #bdbdbd;
}
#Navigation a:active {
	font: normal 100% Berlin Sans FB;
	color: #ffffff;
}

td > hr {
	width: 150px;
	color: #969696;
}

.no-list-dot {
	list-style: none;
}

a:link {
	font: normal 100% Berlin Sans FB;
	color: #7a501b;
}
a:visited {
	font: normal 100% Berlin Sans FB;
	color: #7a501b;
}
a:hover {
	font: normal 100% Berlin Sans FB;
	color: #cc8b3c;
}
a:active {
	font: normal 100% Berlin Sans FB;
	color: #ffff00;
}

h1 {
	font: normal 140% Berlin Sans FB;
	color: #000000;
	left: 5em;
}

h2 {
	font: normal 120% Berlin Sans FB;
	color: #000000;
	left: 5em;
}

h3 {
	font: normal 110% Berlin Sans FB;
	color: #000000;
	left: 5em;
}

h4 {
	font: normal 100% Berlin Sans FB;
	color: #f5f6ce;
}

ol {
	font: normal 100% Berlin Sans FB;
	color: #f5f6ce;
}
